body{
    color: aliceblue;
    background: rgb(252, 175, 252);
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.names, #result_object_name, #result_object_accuracy{
    color: red;
}